<div class="contents">

  <div class="form_container">
    <form action="/bonzabudgeting/tags" method="post">

      <div class="form-el">
        <label for="new-tag"> Enter name of new tag: </label>
        <input type="text" name="name" id="new-tag" />
      </div>

      <div class="form-el">
        <input type="submit" value="Add tag"/>
      </div>

    </form>

  </div>
