<div class="contents">
  <h1 class="create_message"> This tag already exists! </h1>
  <p><a class="link_new_merchant" href="/bonzabudgeting/newtag"> Add another tag </a></p>
  <p><a class="link_to_home" href="/bonzabudgeting"> Return to the home page </a></p>
  <p><a class="link_new_transaction" href="/bonzabudgeting/new"> Add a new transaction </a></p>
</div>
