<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/style.css'>
  <link href="https://fonts.googleapis.com/css?family=Lobster|Nanum+Gothic" rel="stylesheet">
  <title> Spending Tracker </title>
</head>

<body>
  <nav>
    <a class="nav_button" href="/bonzabudgeting"> Home </a>
    <div class="logo"> Bonza Budgeting </div>
  </nav>

  <%= yield %>
</body>

</html>
