<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title> Spending Tracker </title>
</head>
<body>
  <nav>
    <div class="nav_button"><a href="/bonzabudgeting"> Home </a></div>
    <div class="logo"> Bonza Budgeting </div>
    <!-- <div class="nav_button"> Add New Transaction </div> -->
  </nav>
  <%= yield %>
</body>
</html>
