<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/style.css'>
  <link href="https://fonts.googleapis.com/css?family=Lobster|Nanum+Gothic" rel="stylesheet">
  <title> Spending Tracker </title>
</head>

<body>
  <nav>
    <div class="nav_button"><a href="/bonzabudgeting"> Home </a></div>
    <div class="logo"> Bonza Budgeting </div>
    <div class="nav_button"><a href="/bonzabudgeting/new"> Add New Transaction </a></div>
  </nav>

  <div class="button_box">

    <div class="button">
      <a href="/bonzabudgeting/spendbytag"> View spend breakdown by tag </a>
    </div>
    <div class="button">
      <a href="/bonzabudgeting/spendbymerchant"> View spend breakdown by merchant </a>
    </div>
    <div class="button">
      <a href="/bonzabudgeting/spendbymonth"> View spend breakdown by month </a>
    </div>

  </div>

  <%= yield %>
</body>

</html>
