<div class="contents">
  <h1> Total spend to date: </h1>
  <h1 class="big_numbers"> <%= "£#{@total_spend}" %> </h1>

  <div class="table_group">

    <h3> Split by month </h3>

    <table>
      <tr>
        <th>Month</th>
        <th>Spend</th>
      </tr>
      <% @months.each() do |month| %>
      <tr>
        <td><%= Date::MONTHNAMES[month] %></td>
        <td><%= "£#{'%.2f' % Transaction.spending_by_month(month)}" %></td>
  </tr>
  <% end %>
  <tr >
    <td class="no_border"></td>
    <td class="no_border"><b><%= "£#{@total_spend}" %></b></td>
  </tr>

</table>
</div>
</div>
