* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  background-color: #28587B;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 99%;
  z-index: 2;
}

body {
  background-color: #EEEEFF;
  font-family: 'Nanum Gothic', sans-serif;
  display: block;
  margin: 8px;
}

h1 {
  margin-top: 6vh;
  margin-bottom: 6vh;
  margin-left: 2vh;
  display: inline-block;
  font-size: 3vh;
}

h3 {
  font-size: 3.5vh;
}

table {
  font-size: 2.8vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

th {
  border-bottom-style: solid;
}

td {
  border-bottom-style: dotted;
  padding: 2vh;
}

.logo {
  font-size: 6vh;
  color: white;
  font-family: 'Lobster', cursive;
  align-self: center;
}

.nav_button {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 2vh;
  border: solid;
  border-color: white;
  width: 20vh;
  margin: 5vh 1vh;
  text-align: center;
  align-self: center;
  border-radius: 1vh;
  background-color: #9FB4C7;
  font-weight: bold;
}

.nav_button:hover {
    background-color: #ecf2f9;
}

.nav_button:active {
    background-color: #ecf2f9;
}

.contents {
  position: relative;
  top: 17vh;
  align-content:center;
}

.button_box {
  display: flex;
  width: 99%;
  justify-content: space-around;
  background-color: #9FB4C7;
  position: fixed;
  margin-top: 15vh;
  z-index: 2;
}

.button {
  display: inline-block;
  border-radius: 1vh;
  background-color: white;
  text-align: center;
  padding: 1vh;
  font-size: 1.7vh;
  margin-bottom: 0.5vh;
  margin-top: 0.5vh;
}

.button:hover {
  font-weight: bold;
}

.big_numbers {
  display: inline-block;
  font-size: 9vh;
  padding-right: 3vh;
}

.budget_message {
  background-color: #9FB798;
  width: 160vh;
  padding: 5vh;
  margin: 0 auto;
  margin-bottom: 5vh;
  border-radius: 2vh;
  text-align: center;
}

.table_group {
  width: 160vh;
  padding: 5vh;
  margin: 0 auto;
  background-color: #9FB4C7;
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no_border {
  border-bottom-style: none;
}

.new_form {
  position: relative;
  top: 5vh;
  background-color: #9FB4C7;
  margin: 0vh auto;
  width: 70vh;
  height: 45vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 2vh;
}

.form-el {
  margin: 5vh;
  font-size: 2.8vh;
}

.create_message {
  position: relative;
  width:100%;
  text-align: center;
  top: 10vh;
}

.link_to_home {
  position: relative;
  width: 20%;
  margin: 0 auto;
  text-align: center;
  top: 12vh;
  border-radius: 1vh;
  background-color: white;
}

.link_to_home:hover {
    font-weight: bold;
}
