<div class="contents">

  <div class="new_form">
    <form action="/bonzabudgeting/merchants" method="post">

      <div class="form-el">
        <label for="new-merchant"> Enter name of new merchant: </label>
        <input type="text" name="name" id="new-merchant" />
      </div>

      <div class="form-el">
        <input type="submit" value="Add merchant"/>
      </div>

    </form>

  </div>
